apiVersion: apps/v1
kind: Deployment
metadata:
  name: gke-god
spec:
  replicas: 3
  selector:
    matchLabels:
      app: gke-hello-app
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: gke-hello-app
    spec:
      containers:
      - name: hello-app
        image: gcr.io/arvin-358617/godapp:master-fa64e56
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: 100m
          limits:
            cpu: 100m
---
apiVersion: v1
kind: Service
metadata:
  name: gke-god-app-service
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 3000
  selector:
    app: gke-hello-app
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kuard
  annotations:
     kubernetes.io/ingress.class: gce
     kubernetes.io/ingress.allow-http: "true"
     kubernetes.io/ingress.global-static-ip-name: web-ip
     cert-manager.io/issuer: letsencrypt-production

spec:
  tls:
  - hosts:
    - senna.gregoret.com.ar
    secretName: web-ssl
  rules:
  - host: senna.gregoret.com.ar
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: gke-god-app-service
            port:
              number: 80
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: guillermo@gregoret.com.ar # ❗ Replace this with your email address
    privateKeySecretRef:
      name: letsencrypt-staging
    solvers:
    - http01:
        ingress:
          name: kuard
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: guillermo@gregoret.com.ar # ❗ Replace this with your email address
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
    - http01:
        ingress:
          name: kuard